* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
nav {
    background: lightgray;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    margin-left: auto;
}
